<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Garden</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="" th:href = "@{/css/test1.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class = "container">

    <table border = "1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>

            <th> Crops</th>


        </tr>
        </thead>

        <tbody>
        <h1 class = "title"> Plants you can sow now! <span> based on your region's soil, microclimate and current season </span></h1>


        <section th:each= "crop: ${hm.keySet()}" class="portfolio">

            <figure class="port-item">

                <img src="img/post1.jpg" th:src = "@{/images/{image}(image = ${hm.get(crop)})}" alt="item">
                <figcaption class="port-desc">

                    <p th:text = "${crop}" > </p>
                    <a href="" class="button button-accent button-small">Read More</a>
                </figcaption>
            </figure>

        </section>

        <br>
        <br>

        <section class = "container">

        <h3 class = "title"> plants suitable for your region (all season) </h3>


            <tr th:each="crop: ${crops_possible}">
            <td th:text="${crop.getCropName()}"></td>


        </tr>

        </section>

        </tbody>
    </table>
</div>

</body>
</html>