<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<!html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
</head>
<body>
<div align="center">
<h1> Customer Form </h1>
<form action = "#" th:action = "@{/saveCustomer}" th:object = "${customer}" method = "POST">
<input type="text" th:field = "*{firstName}" placeholder = "First Name">
<input type="text" th:field = "*{lastName}" placeholder = "Last Name">
<button type = "Submit" > Save Details </button>
</form>
</div>
</body>
</html>