<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="alert alert-primary" role="alert">
    Your details have been saved!
</div>
<h1>  </h1>

<a th:href="@{/}"> <button type="button" class="btn btn-secondary"> Submit another response! </button> </a>


</body>
</html>