<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<!html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <br>
    <br>
    <h1> Sign Up Form </h1>
    <form action = "#" th:action = "@{/saveCustomer}" th:object = "${customer}" method = "POST">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" th:field = "*{firstName}" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label> Last Name </label>
            <input type="text" th:field = "*{lastName}" class="form-control" placeholder="Last Name">
        </div>

        <div class="form-group">
            <label> Password </label>
            <input type="text" th:field = "*{password}" class="form-control" placeholder="password">
        </div>



        <!input type="text" th:field = "*{firstName}" placeholder = "First Name">
        <!input type="text" th:field = "*{lastName}" placeholder = "Last Name">
        <button type = "Submit" class="btn btn-secondary" > Save Details </button>
    </form>
</div>
</body>
</html>