<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garden Commune</title>
    <link href="" th:href = "@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<header>
    <img src="" th:src = "@{/img/logoo.png}"  alt="logo" class="logo" height = "200" width = "100">
    <nav>
        <ul>
            <li><a href="" th:href = "@{home}">Home</a></li>
            <li><a href="" th:href = "@{about}">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="home-hero" th:style="'background: url(/img/sorry.jpg) no-repeat center center fixed;'" >
    <div class="container"  >


        <h1 class="title"> Thank You! <span> We'll get back :)  </span> </h1>




    </div>

</section>


</body>
</html>